/* zrt-cssregistry: */

@media all {

  .portlet-calendar {
    margin: 1px 0 1em 0;
  }

  .portlet-calendar .z-portlet-header {
    background-color: globalBackgroundColor;
    font-weight: normal;
    text-align: center;
    line-height: 1.6em;
    border-bottom: none;
    text-transform: none;
  }
  .portlet-calendar dd {
    margin: 0;
    padding: 0;
  }
  .portlet-calendar a {
    text-decoration: none;
  }
  .portlet-calendar a:hover {
    text-decoration: none;
  }

  .z-calendar {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  .z-calendar td {
    background-color: transparent;
    width: 14%;
    text-align: center;
    padding: 2px;
  }

  .z-calendar .z-calendar-weekdays th {
    background-color: globalBackgroundColor;
    border: borderWidth borderStyle globalBorderColor;
    border-style: borderStyle none;
    text-align: center;
    padding: 2px;
    font-weight: normal;
  }

  .z-calendar .z-calendar-events {
    background-color: globalBackgroundColor;
    font-weight: bold;
  }

  .z-calendar .z-calendar-todayevents {
    background-color: globalBackgroundColor;
    border: 2px borderStyle notifyBorderColor;
    font-weight: bold;
  }

  .z-calendar .z-calendar-today {
    border-collapse: collapse;
    border: 2px borderStyle notifyBorderColor;
  }

  #bbit-cs-location,
  #bbit-cs-description,
  #bbit-cs-attendeers,
  #bbit-cs-eventUrl,
  #bbit-cs-CName,
  #bbit-cs-CEmail,
  #bbit-cs-CPhone,
  #bbit-cs-body {
    display: none;
  }

  #bbit-cs-what a,
  #bbit-cs-attendeers a,
  #bbit-cs-eventUrl a,
  #bbit-cs-CEmail a {
    color: #112abb;
    text-decoration: underline;
  }

  #bbit-cs-what a:hover,
  #bbit-cs-attendeers a:hover,
  #bbit-cs-eventUrl a:hover,
  #bbit-cs-CEmail a:hover,
  .lk {
    text-decoration: none;
  }

  #bbit-cs-what a {
    font-weight: bold;
  }

  #calendar-workspace {
    padding-bottom: 25px;
  }

  input.textbox-fill-input,
  input#bbit-cal-quickAddBTN {
    visibility: inherit;
  }

}
